.vscode/**
**/*.ts
**/*.map
.gitignore
tsconfig.tsbuildinfo
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.eslintignore
.github/
scripts/

testFixture
node_modules/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/semver/**

# artifacts
out/**/*.map
out/test/**
out/unittest/**
*.vsix

.agent-logs/**

# config
.npmignore
.prettierignore
eslint.config.mjs
